/* debug */

.debug * {
  outline: 1px dashed rgba(0, 0, 255, 0.3);
}

/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Font Imports */

@font-face {
  font-family: "Bitter";
  src: url("./assets/fonts/Bitter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

/* CSS Variables */

:root {
  /* colors */
  --text-color-primary: #333333;
  --bg-color-primary: #f0f0f0;

  /* typography */
  --heading-font: "Bitter", serif;
  --text-font: "Montserrat", sans-serif;
  --text-font-weight: 500; /* Since "Montserrat" is a light font. */

  --type-size-xs: 12px;
  --type-size-sm: 16px;
  --type-size-md: 20px;
  --type-size-lg: 24px;
  --type-size-xl: 32px;
  --type-size-xxl: 40px;

  --type-height-xs: 20px;
  --type-height-sm: 28px;
  --type-height-md: 32px;
  --type-height-lg: 36px;
  --type-height-xl: 44px;
  --type-height-xxl: 48px;

  /* for margin and padding */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;

  /* 
  default         diff      adjusted      line-height
  h1: 38.4        -0        40            48 
  h2: 28.8        -9.6      32            44
  h3: 22.464      -6.336    24            36
  h4: 19.2        -3.264    20            32
  h5: 15.936      -3.264    16            28
  h6: 12.864      -3.072    12            16
  */

  /* 
  variable names uses a --<element>-<property>-<variation> format. Eg. --type-size-sm
  */
}

/* Basic Settings */

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: var(--text-font);
  font-weight: var(--text-font-weight);
}

.wrapper {
  max-width: 1028px; /* 4 x 257 = 1028 */
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: var(--space-5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  /* margin-top: var(--space-3); collapsing causes inconsistent output - fix! */
}

h1 {
  font-size: var(--type-size-xxl);
  line-height: var(--type-height-xxl);
}

h2 {
  font-size: var(--type-size-xl);
  line-height: var(--type-height-xl);
}

h3 {
  font-size: var(--type-size-lg);
  line-height: var(--type-height-lg);
}

h4 {
  font-size: var(--type-size-md);
  line-height: var(--type-height-md);
}

h5 {
  font-size: var(--type-size-sm);
  line-height: var(--type-height-sm);
}

h6 {
  font-size: var(--type-size-xs);
  line-height: var(--type-height-xs);
}

p {
  max-width: 700px;
  font-size: var(--type-size-sm);
  line-height: var(--type-height-sm);
}
/* 
.btn.primary {
  border-radius: var(--space-1);
  background-color: var(--color-one);
} */
