/* debug */

.debug * {
  outline: 1px dashed rgba(0, 0, 255, 0.3);
}

/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Font Imports */

@font-face {
  font-family: "Bitter";
  src: url("./assets/fonts/Bitter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

/* CSS Variables */

:root {
  --primary-text: #333333;
  --primary-bg: #f0f0f0;

  --heading-font: "Bitter", serif;
  --base-font: "Montserrat", sans-serif;
  --base-font-size: 120%;
  --base-line-height: 1.7;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
}

/* Basic Settings */

body {
  color: var(--primary-text);
  background-color: var(--primary-bg);
  font-family: var(--base-font);
  font-size: var(--base-font-size);
}

.wrapper {
  max-width: 1030px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin-bottom: var(--space-5);
}

p {
  line-height: var(--base-line-height);
  max-width: 700px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  /* margin-top: var(--space-3); collapsing causes inconsistent output - fix! */
}
